<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
  		<a href="/credits"><button>credits</button></a>
  		<a href="/quizzes"><button>quizzes</button></a>
	</table>
  </body>
</html>
